.panel{
  background-color: #F8F8F8;
}

.header{
  padding-top: 10px;
  padding-bottom: 20px;
}
.helpText{
  font-style: italic;
  color:gray;
}

.knoppen{
  margin-top: 25px;
}

.deleteKnop{
  margin-bottom: 10px;
}
