<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css"/>
<h1>Reservaties </h1>
<div class="container-fluid">

  <div class="row">
    <div class="col-2">
      <table border="1">
        <tr>
          <div class="" routerLinkActive="active">
            <button class="btn btn-primary" [routerLink]="['/reservatie/',id]">Nieuwe reservatie</button>
            <hr/>
            <button [routerLink]="['/adminzalen']" type="button" class="col-md-12 btn btn-outline-dark">Terug naar overzicht </button>
            <hr/>
          </div>
        </tr>
        <tr>
          <td>Onbevestigde reservaties:</td>
          <hr/>
        </tr>
        <tr *ngFor="let reservatie of reservaties" routerLinkActive="active">
          <td *ngIf="!reservatie.bevestigd">
            <div class="" routerLinkActive="active">
              <a [routerLink]="['/adminreservatie/',reservatie._id]">{{reservatie.naam}}</a>
              <hr/>
            </div>
          </td>
        </tr>
        <tr>
          <td>Bevestigde reservaties:</td>
          <hr/>
        </tr>
        <tr *ngFor="let reservatie of reservaties" routerLinkActive="active">
          <td *ngIf="reservatie.bevestigd">
            <div class="" routerLinkActive="active">
              <a [routerLink]="['/adminreservatie/',reservatie._id]">{{reservatie.naam}}</a>
              <hr/>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-10">
      <div class="dx-viewport">
        <div class="demo-container">
          <dx-scheduler
            [dataSource]="appointmentsData"
            [views]="['week']"
            [currentView]="['week']"
            [firstDayOfWeek]="1"
            [startDayHour]="1"
            [endDayHour]="24"
            [cellDuration]="60"
            [groups]="['priority']"
            [currentDate]="currentDate"
          >

          </dx-scheduler>

        </div>
      </div>
    </div>
  </div>
</div>
