<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.spa.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.common.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/17.2.3/css/dx.light.css"/>




<div class="dx-viewport">
  <div class="demo-container">
    <dx-scheduler
      [dataSource]="appointmentsData"
      [views]="['week']"
      [currentView]="['week']"
      [firstDayOfWeek]="1"
      [startDayHour]="1"
      [endDayHour]="24"
      [cellDuration]="60"
      [groups]="['priority']"
      [currentDate]="currentDate"
      [height]="600">
      <dxi-resource
        fieldExpr="ownerId"
        [allowMultiple]="true"
        [dataSource]="reservaties"
        label="reservatie"
        [useColorAsDefault]="true"
      >

      </dxi-resource>


    </dx-scheduler>

    <div class="" routerLinkActive="active">
      <a [routerLink]="['/reservatie/', id]" class="btn btn-primary">Naar reservatie pagina</a>
    </div>

  </div>
</div>

