<article class="panel panel-default" >
    <div class="panel-body row">
      <form class="col-6 offset-3" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <h1>Reserveren</h1>
        <div id="zaal">
          <div id="image" class="offset-6"><img width="150px" height="150px" src="http://via.placeholder.com/150x150" /></div>
          <div>
            <select formControlName="zaalid">
              <option *ngFor="let zaal of zalen" value="{{ zaal._id }}">
                {{ zaal.naam }}
              </option>
            </select>
          </div>
          <div>
            <label>Naam:</label>
            <label>{{ zaal.naam }}</label>
          </div>
          <div>
            <label>Oppervlakte:</label>
            <label>{{ zaal.oppervlakte }}</label>
          </div>
          <div><label>Beschrijving:</label></div><div><label class="col-6">{{ zaal.beschrijving }}</label></div>
        </div>

        <div id="reservering">
          <div>
            <label>Begindatum</label> <label class="offset-3">Einddatum</label></div>
          <div>
            <input id="beginuur" formControlName="beginuur" type="datetime-local" value="{{ reservatie.beginuur}}" /> tot
            <input id="einduur" formControlName="einduur" type="datetime-local" value="{{reservatie.einduur}}" /></div>

          <div>
            <label>Voornaam:</label>
            <label>{{ gebruiker.voornaam }}</label>
          </div>
          <div>
            <label>Familienaam:</label>
            <label>{{ gebruiker.achternaam }}</label>
          </div>
          <div>
            <label>Email:</label>
            <label>{{ gebruiker.email }}</label>
          </div>
          <div>
            <label>Bedrijf:</label>
            <input type="radio" name="bedrijf" value="ja"> ja
            <input type="radio" name="bedrijf" value="nee"> nee
          </div>
          <div class="form-group">
            <label class="control-label" for="reden">Reden:</label>
            <textarea id="reden" formControlName="reden" class="form-control col-sm-6" type="text" cols="40" rows="5" required></textarea>
          </div>
        </div>
        <div>
          <button name="submit" type="submit" class="col-3 btn btn-primary" [disabled]="!myForm.valid">Vraag aan</button>
          <button name="annuleren" [routerLink]="['/zalen']" type="button" class="col-3 offset-3 btn btn-primary">Annuleer</button>
        </div>
      </form>
    </div>
</article>
