<article class="panel panel-default">
  <div class="panel-body row">
    <form class="col-6 offset-3" [formGroup]="ngForm" (ngSubmit)="onSubmit()">
      <h1>Reservatie beheren</h1>
      <div id="zaal">
        <div id="image" class="offset-6"><img width="150px" height="150px" src="http://via.placeholder.com/150x150"/>
        </div>
        <div>
          <label>Naam:</label>
          <label>{{ zaal.naam }}</label>
        </div>
        <div>
          <label>Oppervlakte:</label>
          <label>{{ zaal.oppervlakte }}</label>
        </div>
        <div>
          <label>Max aantal personen:</label>
          <label>{{ zaal.capaciteit }}</label>
        </div>
        <div><label>Beschrijving:</label></div>
        <div><label class="col-6">{{ zaal.beschrijving }}</label></div>
      </div>

      <div id="reservering">
        <div>
          <label>Begindatum</label> <label class="offset-3">Einddatum</label></div>
        <div>
          <input id="beginuur" formControlName="beginuur" type="datetime-local" value="{{ reservatie.beginuur | date:'yyyy-MM-ddTHH:mm:ss'}}"/> tot
          <input id="einduur" formControlName="einduur" type="datetime-local" value="{{reservatie.einduur | date:'yyyy-MM-ddTHH:mm:ss' }}"/>
        </div>

        <div>
          <label>Voornaam:</label>
          <label>{{ gebruiker.voornaam}}</label>
        </div>
        <div>
          <label>Familienaam:</label>
          <label>{{ gebruiker.achternaam}}</label>
        </div>
        <div>
          <label>Email:</label>
          <label>{{ gebruiker.email}}</label>
        </div>
        <div>
          <label>Bedrijf:</label>
          <input type="radio" name="bedrijf" value="ja"> ja
          <input type="radio" name="bedrijf" value="nee"> nee
        </div>
        <div class="form-group">
          <label class="control-label" for="reden">Reden:</label>
          <input id="reden" class="form-control col-sm-6" type="text" value="{{reservatie.reden}}"/>
        </div>
      </div>
      <div>
        <button type="button" class="col-3 btn btn-primary" data-toggle="modal" data-target="#popup">Weiger</button>
        <button type="submit" class="col-3 btn btn-primary">Bevestig</button>
        <button [routerLink]="['/adminreservatieKalender']" type="button" class="col-3 btn btn-primary">Terug</button>
      </div>
      <div id="popup" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Reden:</h4>
              <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <form [formGroup]="myForm" (ngSubmit)="onWeiger()">
              <div class="modal-body">
                <input formControlName="reden" type="text" class="form-control"/>
              </div>
              <div class="modal-footer">
                <button type="button" (click)="onWeiger()"  class="btn btn-default" data-dismiss="modal">Verstuur</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
  </div>
</article>
