<div class="zaal">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <img class="foto" src="{{zaal.foto}}">
      </div>
        <div class="col-lg-6 info">
          <h3>{{ zaal.naam }}</h3>
          <p>Grootte {{ zaal.oppervlakte }}m²</p>
          <p>Maximum {{ zaal.capaciteit }} personen</p>
        </div>
        <div class="col-lg-3 materiaal">
          <div class="row">
            <p class="col-12">Beschrijving:</p>
            <p class="col-12">{{zaal.beschrijving}}</p>
          </div>
          <div class="row" routerLinkActive="active">
            <a [routerLink]="['/reservatieKalender/', zaal.id]" class="btn btn-primary col-12 align-bottom">Kalender bekijken</a>
          </div>
        </div>
      </div>
    </div>
  </div>
