<div class="card card-block col-lg-4 col-md-6 col-sm-6 col-12 float-left">
  <div class="container-fluid">
    <div class="info">
      <div class="align-content-center">
        <h4 class="card-title center">{{zaal.naam}}</h4>
      </div>
      <div class="card-text">
        <p>Grootte: {{ zaal.oppervlakte }}m²</p>
        <p>Maximum: {{ zaal.capaciteit }} personen</p>
        <p>Beschrijving: {{zaal.beschrijving}}</p>
      </div>
    </div>
    <div class="" routerLinkActive="active">
      <a [routerLink]="['/reservatieKalender/', zaal._id]" class="btn btn-primary dark-button col-12 align-bottom" *ngIf="!isAdmin">Kalender
        bekijken</a>
      <a [routerLink]="['/adminreservatieKalender/', zaal._id]" class="btn btn-primary dark-button col-12 align-bottom" *ngIf="isAdmin">Kalender
        bekijken</a>
    </div>
  </div>
</div>

