.body{
  min-height: 100%;
  background-color: #CEB64A;
}
.zaal {
  margin: 0 auto;
  padding: 0 0 0 0;
  background-color: #2A2A2A;
}

.info{
  background-color: #CEB64A;
  color: #FFFFFF
}

.foto{
  max-height: 350px;
}

.btn-primary{
  background-color: #2A2A2A;
  color: #FFFFFF;
  border-radius: 0;
  border: hidden;
  margin: 0;
}

.btn-primary:hover{
  background-color: #5a5a5a;
  color: #FFFFFF;
  border-radius: 0;
  margin: 0;
}

.card{
  border-radius: 0;
  border-color: #2A2A2A;
  height: auto;
}

.list li{
  list-style: none;
}
.card-img{
  border-radius: 0;
}

.card-block{
  height: 300px;
}
.center{
  text-align: center;
}

/*
#F8F8F8
#2A2A2A
#CEB64A
#1E1E1E
*/
