<div class="panel panel-default">
  <div class="" *ngIf="!reload">
    <h1 class="zalenHeader text-center">Zalen beheren</h1>
    <button [routerLink]="['/zaalToevoegen']" class="btn btn-primary float-right col-12 align-bottom light-button">
      Een zaal toevoegen
    </button>
    <div *ngFor="let zaal of zalen">
      <div class="card card-block col-4 float-left">
        <div class="container-fluid">
          <div class="info">
            <div class="align-content-center">
              <h4 class="card-title center">{{zaal.naam}}</h4>
            </div>
            <div class="card-text">
              <p>Grootte: {{ zaal.oppervlakte }}m²</p>
              <p>Maximum: {{ zaal.capaciteit }} personen</p>
              <p>Beschrijving: {{zaal.beschrijving}}</p>
            </div>
          </div>
          <div class="" routerLinkActive="active">
            <button [routerLink]="['/zaalWijzigen/', zaal._id]" class="btn btn-primary col-12 align-bottom dark-button">
              Aanpassen
            </button>
            <button (click)="onDelete(zaal._id)" class="btn btn-primary col-12 align-bottom dark-button">Verwijderen
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
