<div class="">
  <h1 class="zalenHeader text-center">Zalen beheren</h1>
  <div *ngFor="let zaal of zalen">
    <div class="card col-4 zaal float-left">
      <img class="card-img" src="{{zaal.foto}}" alt="Card image cap">
      <div class="card-block info col-12">
        <h4 class="card-title">{{zaal.naam}}</h4>
        <p class="card-text">Grootte {{ zaal.oppervlakte }}m²</p>
        <p class="card-text">Maximum {{ zaal.capaciteit }} personen</p>
        <p class="">Beschrijving: {{zaal.beschrijving}}</p>
      </div>
      <div routerLinkActive="active">
        <a (click) = "onEdit()"> class="btn btn-primary col-12 align-bottom">Aanpassen</a>
        <a [routerLink]="['/reservatieKalender/', zaal.id]" class="btn btn-primary col-12 align-bottom">Verwijderen</a>
      </div>
    </div>
  </div>
</div>
