.card{
  background-color: #2A2A2A;
  border-radius: 0;
  border-color: #2A2A2A;
  padding:0;
}
.center{
  text-align: center;
}
.card-text{
  padding: 1em;
}
.info{
  background-color: #CEB64A;
  color: #FFFFFF;
}
.back{
  background-color: #2A2A2A;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.card-img{
  border-radius: 0;
}
.dark-button{
  background-color: #2A2A2A;
  color: #FFFFFF;
  border-radius: 0;
  border-color: #2A2A2A;
  height: 100%;
}
.dark-button:hover{
  background-color: #5a5a5a;
}
.zalenHeader{
  color: #FFFFFF;
}
