.card{
  background-color: #2A2A2A;
  border-radius: 0;
  border-color: #2A2A2A;
  padding:0;
}
.center{
  text-align: center;
}
.card-text{
  padding: 1em;
}
.info{
  background-color: #CEB64A;
  color: #FFFFFF;
  height: 280px;
}
.back{
  background-color: #2A2A2A;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
.card-img{
  border-radius: 0;
}
.dark-button{
  background-color: #2A2A2A;
  color: #FFFFFF;
  border-radius: 0;
  border-color: #2A2A2A;
  height: 100%;
}
.dark-button:hover{
  background-color: #5a5a5a;
}
.zalenHeader{
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.light-button{
  background-color: #F8F8F8;
  color: #2A2A2A;
  border-color: #F8F8F8;
  border-radius: 0;
}
.light-button:hover{
  background-color: #c2c2c2;
}

@media screen and (min-width:400px)
{
  .info{
    height: 250px;
  }
}

@media screen and (min-width:550px)
{
  .info{
    height: 270px;
  }
}

@media screen and (min-width:650px)
{
  .info{
    height: 250px;
  }
}
